<div class="item">
	<div class="boxes">
		<canvas id="square" width="50" height="50" (click)="addEle(0)">Canvas not supported by browser</canvas>
	</div>
	<div class="boxes">
		<canvas id="circle" width="50" height="50" (click)="addEle(1)">Canvas not supported by browser</canvas>
	</div>
	<div class="boxes">
		<canvas id="text" width="50" height="50" (click)="addEle(2)">Canvas not supported by browser</canvas>
	</div>
	<div class="boxes">
		<canvas id="image" width="50" height="50" (click)="addEle(3)">Canvas not supported by browser</canvas>
	</div>
</div>
