<h2>Edit Text</h2>
<br />
<br />
<div>
	<label for="xRange">X position</label>
	<input type="range" min="0" max="{{width}}" value="{{text.x}}" class="slider" id="xRange" (change)="getXPos($event)" (oninput)="getXPos($event)">
	<label for="yRange">Y position</label>
	<input type="range" min="0" max="{{height}}" value="{{text.y}}" class="slider" id="yRange" (change)="getYPos($event)" (oninput)="getYPos($event)">
	<label for="width">Width</label>
	<input type="range" min="0" max="{{width}}" value="{{text.maxWidth}}" class="slider" id="width" (change)="getXWidth($event)" (oninput)="getXWidth($event)">
	<label for="height">Height</label>
	<input type="range" min="0" max="{{height}}" value="{{text.height}}" class="slider" id="height" (change)="getYHeight($event)" (oninput)="getYHeight($event)">
	<label for="size">Font Size</label>
	<input type="range" min="0" max="{{width}}" value="{{text.size}}" class="slider" id="size" (change)="getFontSize($event)" (oninput)="getFontSize($event)">
	<!--Fix value-->
</div>
<div>
	<label for="colourSelect">Colour</label>
	<select id="colourSelect" [ngModel]="text.colour" (ngModelChange)="selectColour($event)"  class="select-colour">
    	<option [value]="indexOfElement" *ngFor="let i of colours;let indexOfElement=index;trackBy:trackByIndex;">Colour {{indexOfElement + 1}}</option>
	</select>
</div>
<div>
	<label for="fontSelect">Font</label>
	<select id="fontSelect" [ngModel]="text.font" (ngModelChange)="selectFont($event)"  class="select-colour">
    	<option [value]="indexOfElement" *ngFor="let i of colours;let indexOfElement=index;trackBy:trackByIndex;">Font {{indexOfElement + 1}}</option>
	</select>
</div>
<div>
	<label for="textSelect">Text type</label>
	<select id="textSelect" [ngModel]="text.type" (ngModelChange)="selectType($event)"  class="select-colour">
    	<option [value]="indexOfElement" *ngFor="let i of textTypes;let indexOfElement=index;trackBy:trackByIndex;">{{i}}</option>
	</select>
</div>
<!-->
<div>
	<label>Order</label>
	<button (click)="sendToBack()">Send to back</button>
	<button (click)="sendBackward()">Send Backward</button>
	<button (click)="sendForward()">Send Forward</button>
	<button (click)="sendToFront()">Sent to front</button>
</div>
<!-->
<button (click)="finished()">Done</button>
<button (click)="delete()">Delete</button>