<div class="top">
	<div class="left">
		<h2>Edit</h2>
	</div>
	<div class="buttons">
		<button (click)="tryToDelete()">Delete</button>
		<button (click)="cancel()">Cancel</button>
		<button (click)="done()">Done</button>
	</div>
	<div class="confirm-delete" *ngIf="deleting">
		<p>Are you sure you want to delete</p>
		<button (click)="delete()">Yes</button>
		<button (click)="cancelDelete()">No</button>
	</div>
</div>

<div class="section">
	<label for="title">Name</label>
	<input class="edit-title" name="title" id="title" type="text" [(ngModel)] = "fName">
</div>

<div class="section">
	<label>Categories</label>

	<div *ngFor="let c of fCategories;let indexOfElement=index;trackBy:trackByIndex;">
		<input name=a{{indexOfElement}} type="text" [(ngModel)] = "fCategories[indexOfElement]">
		<button (click)="removeCategory(indexOfElement)">Remove Category</button>
	</div>
	<button (click)="addCategory()">Add Category</button>
</div>


<div class="section">
	<label>Text Options</label>
	<div *ngFor="let x of textTypes;let i=index;trackBy:trackByIndex;">
		<h5>{{x | capitalize }}</h5>
		<div *ngFor="let t of fText[i];let indexOfElement=index;trackBy:trackByIndex;">
			<input name=a{{indexOfElement}}{{i}} type="text" [(ngModel)] = "fText[i][indexOfElement]">
			<button (click)="removeText(i, indexOfElement)">Remove Text</button>
		</div>
		<button (click)="addText(i)">Add {{ x }}</button>
	</div>
</div>

<div>
	<label>Images</label>
	<br />
	<div *ngFor="let i of fImages;let indexOfElement=index;trackBy:trackByIndex;">
		 <img src="i" alt={{fName}}> 
		 <button (click)="removeImage(indexOfElement)">Remove Image</button>
	</div>
	<input type="file" accept=".png, .jpg, .jpeg" class="browse" #image1>
	<button (click)="addImage(image1.value)">Add Image</button>
</div>
