<h2>Edit Circle</h2>
<br />
<br />
<div>
	<h4>X position</h4>
	<input type="range" min="0" max="{{width}}" value="{{circ.xPos}}" class="slider" id="xRange" (change)="getXPos($event)" (oninput)="getXPos($event)">
	<h4>Y position</h4>
	<input type="range" min="0" max="{{height}}" value="{{circ.yPos}}" class="slider" id="yRange" (change)="getYPos($event)" (oninput)="getYPos($event)">
	<h4>Radius</h4>
	<input type="range" min="0" max="{{height}}" value="{{circ.radius}}" class="slider" id="width" (change)="getRadius($event)" (oninput)="getRadius($event)">
	<!--Fix value-->
</div>
<div>

	<label for="colourSelect">Colour</label>
	<select id="colourSelect" [ngModel]="circ.colour" (ngModelChange)="selectColour($event)"  class="select-colour">
    	<option [value]="indexOfElement" *ngFor="let i of colours;let indexOfElement=index;trackBy:trackByIndex;">Colour {{indexOfElement + 1}}</option>
	</select>
</div>
<button (click)="finished()">Done</button>
<button (click)="delete()">Delete</button>