<h2>{{ folder.name | capitalize }}</h2>
<br />
<br />
<h4>Categories</h4>
<div *ngFor="let c of folder.categories">
	<p>{{ c }}</p>
</div>
<br />
<h4>Text Options</h4>
<div *ngFor="let t of user.text">
	<h5>{{ t | capitalize}} Options</h5>
	<div *ngFor="let x of folder.text">
		<p>{{ x }}</p>
	</div>
</div>
<br>
<h4>Images</h4>
<div *ngFor="let i of folder.image">
	<p>{{ i }}</p>
</div>
<br>
<button [routerLink]="['/edit-folders', id]">Edit Folder</button>
<button [routerLink]="['/delete-folders', id]">Delete Folder</button>
<button [routerLink]="['../']">Done</button>