<app-header></app-header>
<mat-sidenav-container class="tp-container">
   <mat-sidenav mode = "side" opened>
      <section class = "tp-section">
         <a routerLink="/home">Home</a>
      </section>
      <section class = "tp-section">
         <a routerLink="/preferences">Preferences</a>
      </section>
      <section class = "tp-section">
         <a routerLink="/templates">Templates</a>
      </section>
      <section class = "tp-section">
         <a routerLink="/folders">Pins</a>
      </section>
      <section class = "tp-section">
         <a routerLink="/create">Create</a>
      </section>
      <section class = "tp-section">
         <a routerLink="/calender">Calender</a>
      </section>
      <section class = "tp-section">
         <a routerLink="/insights">Insights</a>
      </section>
   </mat-sidenav>
   <mat-sidenav-content>
   		<router-outlet></router-outlet>
   </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>