.item {
    float: right;
    align-content: center;
    padding: 2%;
} 
.boxes {
	padding: 2%;
}

.end {
	clear:both;
}

.buttons
{
	float:right;
}

.left
{
	float:left;
}

.break
{
	float:none;
}
.menu
{
	float:left;
	padding-right: 50px;
}
.editing
{
	float:left;
	align-content:center;
}
.change
{
	float:right;
	width: 100px;
}

.top
{
	padding-bottom: 30px;
}
