<div id="hero-image">
	<div class="wrapper">
		<h2>Get Started Making Beautiful & Quick Designs</h2>
        <a routerLink="/log-in" class="button-1">Log In</a>
        <a routerLink="/sign-up" class="button-1">Sign Up</a>
	</div>
</div>

<div id="features">
    <div class="wrapper">
        <ul>
            <li class="feature-1">
                <img src="../../assets/folders-feature.jpg" width="260px" height="260px">
                <h4>Sort Necessary Designs Into Folders</h4>
                <p>Sort all the designs you need into folders with all the details needed for whatever the design is needed for. Sync to RSS feed or create folders for everything you need</p>
                </li>
                <li class="feature-2">
                    <img src="../../assets/template-feature.png" width="260px" height="260px">
                    <h4>Create Reusable Templates</h4>
                    <p>Create easy and gorgeous reusable templates that can be used for all the designs you need.</p>
                </li>
                <li class="feature-3">
                    <img src="../../assets/designs-feature.jpg" width="260px" height="260px">
                    <h4>Click A Button To Create Designs</h4>
                    <p>Use your folders and templates to generate as many designs as you want in a snap. All it takes is a few clicks of a button!</p>
                </li>
            <div class="clear"></div>
        </ul>
    </div>
</div>
 
<div id="primary-content">
	<div class="wrapper">
		<article>
			<h3>Why You Should Start</h3>
			<p>Save time, money and more now!</p>
		</article>
	</div>
</div>

<div id="prices">
	<div class="wrapper">
		<p>FREE</p>
		<p>add table later lol</p>
	</div>
</div>

<div id="cta">
	<div class="wrapper">
		<h2>Start your free trial now!</h2>
		<a routerLink="/log-in" class="button-2">Log In</a>
        <a routerLink="/sign-up" class="button-2">Sign up</a>
	</div>
</div>