<hr>
<div class="filter">
    <h4>Filter : </h4>
    <app-filter-list (changed)="filter($event)"></app-filter-list>
</div>
<div class="sorting">
    <h4>Sort By : </h4>
    <button (click)="sort('name')">Name</button>
    <button (click)="sort('dateCreated')">Date Created</button>
</div>
<!-->
<div class = "per-page">
    <p>Folders: {{ filteredFolders.length }}</p>
    <select id="fontSelect" [(ngModel)]="numPerPage" class="select-font">
        <option [value]="i" *ngFor="let i of pageOptions">{{i}}</option>
    </select>
</div>
<br />
<br />

<div>
    <p>Page {{page}}</p>
    <button (click)="changePage(-2)">Start</button>
    <button (click)="changePage(-1)">Back</button>
    <button (click)="changePage(1)">Next</button>
    <button (click)="changePage(2)">Last</button>
</div>
<!-->
<br />
<br />
<br />
<div>
    <table class="table table-hover">
        <tr *ngFor="let f of filteredFolders; let indexOfElement=index; trackBy:trackByIndex;">
            <td *ngIf="validFolder(indexOfElement)">
                <div class="filter">
                    <p>{{ f.name | capitalize }}</p>
                </div>
                <div class="sorting">
                    <button (click)="sendFolder(indexOfElement)">View</button>
                </div>
            </td>
        </tr>
        <tr *ngIf="!filteredFolders || !filteredFolders.length">
            <td colspan="4">No folders found</td>
        </tr>
    </table>
</div>
<br />